main {
  padding: var(--space-2);
}

.team-main {
  padding: var(--space-2);
  border-radius: var(--border-radius-medium);
}

.grey-bg {
  background-color: #f7f7f7;
  border-radius: var(--border-radius-medium);
  padding: var(--space-8);
}

main img {
  height: 500px;
  width: 500px;
}

main p {
  font: bold;
  font-size: larger;
}

.hedna,
.emma,
.emmaSnr {
  display: flex;
  align-items: center;
}
