<aside class="booking" id="booking-overlay">
  <div class="booking-form-container">
    <div class="heading">
      <h2>Book Your Event</h2>
      <p>Fill out the form below to book our services for your event.</p>
    </div>
    <form action="/bookings" method="POST">
      <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
      <div class="event_type">
        <label for="event_type">Fullname</label>
        <input type="text" name="fullname" id="fullname" required />
      </div>
      <div class="event_type">
        <label for="event_type">Email</label>
        <input type="email" name="email" id="email" required />
      </div>
      <div class="event_type">
        <label for="event_type">Event Type</label>
        <select name="event_type" id="event_type" required>
          <option value="" disabled selected>Select event type</option>
          <option value="wedding">Wedding</option>
          <option value="corporate-event">Corporate Event</option>
          <option value="birthday-party">Birthday Party</option>
          <option value="other">Other (Fill Additional Information)</option>
        </select>
      </div>
      <div class="service_type">
        <label for="service_type">Service Type</label>
        <select name="service_type" id="service_type" required>
          <option value="" disabled selected>Select service type</option>
          <option value="photography">Photography</option>
          <option value="videography">Videography</option>
          <option value="both">Both</option>
        </select>
      </div>
      <div class="location-date">
        <div class="event_date">
          <label for="event_date">Event Date</label>
          <input type="date" id="event_date" name="event_date" required />
        </div>
        <div class="appointment_time">
          <label for="appointment_time">Event Time</label>
          <input
            type="time"
            id="appointment_time"
            name="appointment_time"
            required
          />
        </div>
        <div class="event_location">
          <label for="event_location">Event Location</label>
          <input
            type="text"
            id="event_location"
            name="event_location"
            required
          />
        </div>
      </div>
      <div class="additional_info">
        <label for="additional_info">Additional Information</label>
        <textarea
          name="additional_info"
          id="additional_info"
          placeholder="Tell us more about your event..."
        ></textarea>
      </div>
      <div class="handle-buttons">
        <button type="submit" class="">Submit</button>
        <button type="submit" id="cancel-booking">Cancel</button>
      </div>
    </form>
  </div>
  <script>
    // Set the minimum date to today's date
    const today = new Date().toISOString().split("T")[0];
    document.getElementById("event_date").setAttribute("min", today);
  </script>
</aside>
