  <footer>
    <div class="contact">
      <h3>Contact</h3>
      <div>
        <p>attendai@htmail.com</p>
        <p>0908934837</p>
      </div>
      <div class="address">
        <p>67 Oalm Road</p>
        <p>Birmingham</p>
        <p>B7 9DH</p>
      </div>
    </div>
    <div class="sitemap">
      <h3>Sitemap</h3>
      <div>
        <p>About</p>
        <p>Team</p>
        <p>Reviews</p>
        <p>Free Trial</p>
      </div>
    </div>
    <div class="social-media">
      <h3>Conect with us</h3>
      <div class="icons">
        <a href="https://www.facebook.com"
          ><i class="fa-brands fa-facebook"></i
        ></a>
        <a href="https://www.instagram.com"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a href="https://www.linkedin.com"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
        <a href="https://x.com"><i class="fa-brands fa-x-twitter"></i></a>
      </div>
    </div>
  </footer>
</body>
</html>
