<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/media/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Romanesco&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="/styles/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/overlay.css" />
    <script src="/scripts/config.js" defer></script>
    <script src="/scripts/hamburgerIcon.management.js" defer></script>
    <!-- <script src="https://cdn.jotfor.ms/s/umd/latest/for-embedded-agent.js"></script>
    <script>
      window.addEventListener("DOMContentLoaded", function () {
        window.AgentInitializer.init({
          rootId: "JotformAgent-01948eef20717249a544db704d395e940e2b",
          formID: "01948eef20717249a544db704d395e940e2b",
          queryParams: ["skipWelcome=1", "maximizable=1"],
          domain: "https:\/\/eu.jotform.com",
          isInitialOpen: false,
          isDraggable: false,
          background: "linear-gradient(180deg, #C8CEED 0%, #C8CEED 100%)",
          buttonBackgroundColor: "#0a1551",
          buttonIconColor: "#fff",
          variant: false,
          customizations: {
            greeting: "Yes",
            greetingMessage: "Hi! How can I assist you?",
            pulse: "Yes",
            position: "right",
          },
        });
      });
    </script> -->
  </head>
</html>
