<div id="backdrop"></div>
<header>
  <div class="logo">
    <a href="/"><img src="/logo.png" alt="logo.png" />MEDIA</a>
  </div>
  <%- include('nav-elements') %>
  <!-- <button id="mobile-menu-button">
    <span></span><span></span><span></span>
  </button> -->
</header>
<!-- <aside id="mobile-menu"><%- include('nav-elements') %></aside> -->
