<div>
  <nav>
    <ul>
      <% if (!locals.isAdmin) { %>
      <li><a href="/">Home</a></li>
      <li><a href="/team">Team</a></li>
      <li><a href="/pdf/PRICE LIST.pdf" download="">Pricing</a></li>
      <li><a href="/tools">Tools</a></li>
      <li><a href="/messages">Messages <span class="badge bg-danger">4</span></a></li>
      <li><a href="/contact">Contact</a></li>
      <% } %> <% if (locals.isAuth && !locals.isAdmin) { %>
      <li><a href="/gallery">Gallery</a></li>
      <% } %> <% if (locals.isAdmin) { %>
      <li><a href="/admin/manage-bookings">Manage Bookings</a></li>
      <li><a href="/admin/uploads">Upload Content</a></li>
      <li><a href="/admin/enquiries">Customer Service</a></li>
      <% } %>
    </ul>
  </nav>
</div>
<div class="nav-aside">
    <% if (locals.isAuth && !locals.isAdmin) { %>
    <li class="btn" id="edit-booking">Book Now</li>
    <% } %> 
<% if (locals.isAuth) { %>
    <li>
      <form action="/logout" method="POST">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
        <button class="btn">Logout</button>
      </form>
    </li>
    <% } else { %>
    <a href="login"><li class="btn">Login</li></a>
    <% } %>
  </ul>
</div>
